@import "variablecontrol.css";

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
    border-left: 1px solid #DDD;
}

.rbc-btn-group button {
    margin-right: 8px;
    border-radius: 4px !important;
    font-size: smaller;
    color: #cb6d51;
    border-color: #cb6d51;
}

.rbc-btn-group button:hover {
    background-color: #cb6d5122;
    color: #cb6d51;
    border-color: #cb6d51;
    cursor: pointer;
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: x-large;
    font-family: 'Sarabun', sans-serif;
}

.rbc-event {
    background: rgb(42 114 209);
    border-radius: 10px;
}

.rbc-header {
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    color: #5a6173;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background: #cb6d51 !important;
    color: white !important;
    border-color: #cb6d51;
}

.rbc-toolbar button:focus,
.rbc-toolbar button.rbc-active {
    background: #cb6d51 !important;
    color: white !important;
    border-color: #cb6d51;
}

.rbc-month-view {
    border-top: unset;
    border-left: unset;
    border-right: unset;
    margin-top: 16px;
}

.rbc-header+.rbc-header {
    border-left: unset;
}

.rbc-month-view .rbc-month-row {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.rbc-month-view .rbc-month-row:nth-last-child() {
    border-bottom: 1px solid #DDD;
}