.landing-div {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  opacity: 1;
  /* background-color: whitesmoke; */
  background: linear-gradient(180deg, #f3f4f6 10%, #d4dce7 100%);
  background-attachment: fixed;
}

.landing-div.active {
  background-color: transparent;
  -webkit-animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.landing-div .header {
  position: relative;
  text-align: center;
  /* background-color: whitesmoke; */
  /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  background: linear-gradient(180deg, #f3f4f6 10%, #d4dce7 100%);
  background-attachment: fixed;
  color: white;
}

.landing-div.active .header {
  -webkit-animation: activeHeaderLanding 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: activeHeaderLanding 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes activeHeaderLanding {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: rgb(150, 137, 137);
  }

  100% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    background-color: transparent;
  }
}

@keyframes activeHeaderLanding {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: whitesmoke;
  }

  100% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    background-color: transparent;
  }
}

@-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: initial;
  }

  90% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    display: initial;
  }

  100% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    display: none;
  }
}

@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: initial;
  }

  90% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    display: initial;
  }

  100% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    display: none;
  }
}

.landing-div .inner-header-logo {
  animation: jello-horizontal 2s both infinite;
  -webkit-animation: jello-horizontal 2s both infinite;
  -moz-animation: jello-horizontal 2s both infinite;
  -o-animation: jello-horizontal 2s both infinite;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  40% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 0.80, 1);
    transform: scale3d(1.03, 0.97, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  40% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 0.80, 1);
    transform: scale3d(1.03, 0.97, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
  }

  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.landing-div.active .inner-header-logo {
  display: none;
  -webkit-animation: activeHeaderLogo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: activeHeaderLogo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes activeHeaderLogo {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    display: initial;
  }

  100% {
    -webkit-transform: translateY(-100vh) scale(3);
    transform: translateY(-100vh) scale(3);
    opacity: 0;
    display: none;
  }
}

@keyframes activeHeaderLogo {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    display: initial;
  }

  100% {
    -webkit-transform: translateY(-100vh) scale(3);
    transform: translateY(-100vh) scale(3);
    opacity: 0;
    display: nones !;
  }
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  /* background-color: white; */
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}