@import "variablecontrol.css";

.table-payment tr {
    background-color: var(--coop-second-color);
}

.table-payment th,
.table-payment td {
    border-bottom: 1px solid rgba(70, 99, 98, 0.5);
}

.table-payment tr td:nth-child(6) {
    color: var(--link-text-color);
}

.table-payment {
    border: 1px solid rgba(70, 99, 98, 0.5);
}

.statement-table {
    width: 100%;
}

.statement-row {
    animation: animStatementRow .5s;
    -webkit-animation: animStatementRow .5s;
}

@keyframes animStatementRow {
    from {
        opacity: 0;
        transform: translateX(10px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes animStatementRow {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.row-expand {
    padding: 0px;
}

.table-header {
    /* background-image: linear-gradient(to bottom, #B0BEC5, #B0BEC5); */
    background-color: #1B55A2;
    color: white;
    padding: 1em;
    color: white;
    font-weight: 400;
    text-align: center;
    border: solid 1px #FFFFFF;
}

table {
    font-size: small !important;
}

table td div {
    font-size: small !important;
}

.table-header {
    padding: 5px;
}

.label-header {
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--sub-text-color);
}

.ant-calendar-picker {
    width: 100%;
}

.ant-input-number {
    width: 100%;
}

.cleave-input-number.ant-input-number {
    padding: 0 11px;
}

@media only screen and (max-width: 992px) {
    table {
        font-size: small !important;
    }

    table td div {
        font-size: small !important;
    }

    .table-header {
        padding: 5px;
    }
}

@media only screen and (max-width: 576px) {
    .main-content {
        /* padding-top: 40px; */
    }

    .react-bootstrap-table {
        overflow-x: auto;
    }

    table {
        min-width: 576px;
        font-size: small !important;
    }

    table td div {
        font-size: small !important;
    }

    th {
        border: 0 !important;
        position: sticky;
        top: 0;
    }

    .table-header {
        padding: 5px;
    }

    .label-header {
        font-size: small !important;
    }
}